.about-container .top-display{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/makeup-about.jpg);
    background-size: cover;
}

.about-container .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.about-container .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.about-container .overlay :first-child{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-container .overlay .txt {
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 19px;
}

.about-container .our-story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 25px;
    gap: 20px;
}

.about-container .story .head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-container .story .txt{
    color: #555555;
}

.about-container .our-values{
    padding: 100px 25px;
    text-align: center;
}

.about-container .our-values #head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.about-container .the-values{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 20px;
}

.about-container .value svg{
    color: white;
    padding: 20px;
    background-color: #FF008C;
    border-radius: 50%;
}
.about-container .value .head{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

.about-container .value .txt{
    color: #555555;
}

.about-container .why-us{
    background-color: #fafafa;
    padding: 80px 35px;
    margin-bottom: 50px;
}

.about-container .why-us #head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.about-container .points{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.about-container .point{
    display: flex;
    margin-top: 20px;
}

.about-container .point svg{
    color: white;
    padding: 8px;
    background-color: #FF008C;
    border-radius: 50%;
    margin-right: 15px;
}

.about-container .point .head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-container .point .txt{
    color: #555555;
}

/* FOR MOBILE */

@media screen and (max-width: 480px) {
    .about-container .top-display{
        height: 300px;
    }
    
    .about-container .overlay{
        color: white;
        text-align: center;
        z-index: 10;
        position: relative;
        top: 10%;
    }

    .about-container .overlay :first-child{
        font-size: 35px;
    }

    .about-container .overlay .txt {
        max-width: 400px;
        font-size: 16px;
    }

    .about-container .our-story{
        grid-template-columns: 1fr;
        padding: 30px 15px;
    }

    .about-container .story .head{
        font-size: 22px;
    }

    .about-container .our-values{
        padding: 20px 15px;
    }

    .about-container .our-values #head{
        font-size: 22px;
        margin-bottom: 50px;
    }

    .about-container .the-values{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .about-container .value svg{
        padding: 15px;
    }

    .about-container .why-us{
        padding: 50px 15px;
    }

    .about-container .why-us #head{
        font-size: 22px;
        margin-bottom: 50px;
    }

    .about-container .points{
        display: block;
    }
}