.booking-container .top-display{
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/book-calendar.jpg);
    background-size: cover;
}

.booking-container .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.581);
    z-index: 1;
}

.booking-container .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.booking-container .overlay :first-child{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking-container .overlay .txt {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
}

.booking-container .book{
    padding: 80px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.booking-container .schedule-session{
    border: 1px solid #FFC5E5;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px lightgray;
}

.booking-container .schedule-session .head{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking-container .schedule-session .txt{
    color: #555555;
    margin: 20px 0;
}

.booking-container .schedule-session .name-phone,
.booking-container .schedule-session .date-time{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-right: 30px;
}

.booking-container .schedule-session .booking-details :first-child{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.booking-container .schedule-session .email{
    padding-right: 30px;
}

.booking-container .schedule-session .booking-details input{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px 0 20px 0;
    outline: none;
}

.booking-container .schedule-session .booking-details input:focus-within{
    border: 1px solid #FFC5E5;
    box-shadow: 0 0 5px #FFC5E5;
}

.booking-container .the-service .select{
    position: relative;
}

.booking-container .the-service .select .default{
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.booking-container .the-service .select .default:focus-within{
    box-shadow: 0 0 5px #FFC5E5;
    border: 1px solid #FFC5E5;
}

.booking-container .the-service .select .default svg{
    position: absolute;
    right: 5px;
    color: #555555;
}

.booking-container .the-service .options{
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 5px;
    z-index: 999;
    border: 1px solid lightgray;
    transition: 0.3s ease-in-out;
}

.booking-container .the-service .options button{
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.booking-container .the-service .options button:hover{
    background-color: #FFE6F2;
}

.booking-container .the-service .options  svg{
    position: absolute;
    right: 10px;
    color: #555555;
    opacity: 0;
}

.booking-container .the-service #first-option-1,
.booking-container .the-service #second-option-2,
.booking-container .the-service #third-option-3,
.booking-container .the-service #fourth-option-4,
.booking-container .the-service #fifth-option-5,
.booking-container .the-service #sixth-option-6 {
    background-color: #FFE6F2;
}

.booking-container .the-service #first-option-1 svg,
.booking-container .the-service #second-option-2 svg,
.booking-container .the-service #third-option-3 svg,
.booking-container .the-service #fourth-option-4 svg,
.booking-container .the-service #fifth-option-5 svg,
.booking-container .the-service #sixth-option-6 svg {
    opacity: 1;
}

.booking-container .schedule-session .special{
    padding-right: 30px;
}

.booking-container .schedule-session textarea::-webkit-scrollbar {
    display: none;
}

.booking-container .schedule-session textarea{
    margin: 10px 0;
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    outline: none;
}

.booking-container .schedule-session textarea::placeholder{
    font-family: 'outfit', sans-serif;
    font-size: 16px;
}

.booking-container .schedule-session textarea:focus-within{
    box-shadow: 0 0 5px #FFC5E5;
    border: 1px solid #FFC5E5;
}

.booking-container .schedule-session .btn button{
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    cursor: not-allowed;
}

.booking-container .why{
    border: 1px solid #FFC5E5;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px lightgray;
    margin-bottom: 20px;
}

.booking-container .why .head{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.booking-container .why .point{
    color: #555555;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.booking-container .why .point :first-child{
    background-color: #FF008C;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.booking-container .get-in-touch{
    border: 1px solid #FFC5E5;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px lightgray;
}

.booking-container .get-in-touch .head{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking-container .get-in-touch .info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.booking-container .get-in-touch .info svg{
    color: #FF008C;
}

.booking-container .track{
    background-color: #fafafa;
    color: black;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 50px;
}

.booking-container .track .head{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.booking-container .track .txt{
    font-size: 19px;
    margin: 20px 0;
    color: #555555;
}

.booking-container .track .btns{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.booking-container .track button{
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    color: white;
    background-color: #FF008C;
}

.booking-container .track .btns button:hover{
    transform: scale(1.03);
    filter: brightness(90%);
}

.booking-container .suggestion{
    background-color: #FF008C;
    color: white;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 50px;
}

.booking-container .suggestion .head{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.booking-container .suggestion .txt{
    font-size: 19px;
    margin: 20px 0;
}

.booking-container .suggestion .btns{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.booking-container .suggestion button{
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    color: #FF008C;
}

.booking-container .suggestion .btns button:hover{
    transform: scale(1.03);
    filter: brightness(90%);
}