.cart-container .empty-cart .top-display{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/empty-cart.jpg);
    background-size: cover;
}

.cart-container .empty-cart .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.cart-container .empty-cart .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.cart-container .empty-cart .overlay :first-child{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-container .empty-cart .overlay .txt {
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 19px;
}

.cart-container .empty-cart .gist{
    background-color: rgba(230, 230, 230, 0.164);
    padding: 80px 35px;
    margin-bottom: 50px;
    text-align: center;
}

.cart-container .gist .emoji{
    font-size: 60px;
}

.cart-container .gist .head{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

.cart-container .gist .txt{
    width: 500px;
    margin: 0 auto;
    color: #555555;
}

.cart-container .gist .btn{
    color: white;
    background-color: #FF008C;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 30px;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.cart-container .gist .btn:hover{
    filter: brightness(90%);
    transform: scale(1.05);
}