.cart-container .empty-cart .top-display{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/empty-cart.jpg);
    background-size: cover;
}

.cart-container .empty-cart .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.cart-container .empty-cart .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.cart-container .empty-cart .overlay :first-child{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-container .empty-cart .overlay .txt {
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 19px;
}

.cart-container .empty-cart .gist{
    background-color: #fafafa;
    padding: 80px 35px;
    margin-bottom: 50px;
    text-align: center;
}

.cart-container .gist .emoji{
    font-size: 60px;
}

.cart-container .gist .head{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

.cart-container .gist .txt{
    width: 500px;
    margin: 0 auto;
    color: #555555;
}

.cart-container .gist .btn{
    color: white;
    background-color: #FF008C;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 30px;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.cart-container .gist .btn:hover{
    background-color: #c4026c;
    transform: scale(1.05);
}

/* CART */
.cart-container .cart .top-display{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/cartt.jpg);
    background-size: cover;
}

.cart-container .cart .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.cart-container .cart .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.cart-container .cart .overlay :first-child{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-container .cart .overlay .txt {
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 19px;
}

.cart-container .cart-display{
    padding: 80px 35px 0px 35px;
    display: flex;
    gap: 30px;
    background-color: #fafafa;
    margin-bottom: 50px;
}

.cart-container .cart-summary{
    width: 65%;
}

.cart-container .cart-summary .cart-section{
    border: lightgray 1px solid;
    box-shadow: 0 0 2px lightgray;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: white;
}

.cart-container .cart-display .header{
    display: flex;
    border-bottom: lightgray 1px solid;
    padding: 20px;
}

.cart-container .header .head{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.cart-container .header .clear{
    white-space: nowrap;
    color: #FF008C;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.cart-container .header .clear:hover{
    color: #c4026c;
}

.cart-container .cart-display .item{
    position: relative;
    padding: 20px;
    border-bottom: lightgray 1px solid;
    display: flex;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.cart-container .cart-display .item:hover{
    box-shadow: 0 6px 15px -2px lightgray;
    transform: translateY(-2px);
}

.cart-container .cart-display .item .img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .cart-display .item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cart-container .cart-display .item .name-cmds{
    display: flex;
    align-items: center;
}

.cart-container .cart-display .item .name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}

.cart-container .cart-display .item .cmds, .cart-container .cart-display .item .sum{
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.cart-container .cart-display .item .cmds svg{
    margin-left: 10px;
    color: #555555;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.cart-container .cart-display .item .cmds svg:hover{
    color: #FF008C;
    border-radius: 50%;
    transform: rotate(15deg) scale(1.1);
    background-color: #FFE6F2;
}

.cart-container .cart-display .item .category{
    color: #555555;
    font-size: 14px;
}

.cart-container .cart-display .item .price{
    font-size: 20px;
    font-weight: 500;
    color: #FF008C;
    margin: 10px 0 20px 0;
}

.cart-container .cart-display .item .quantity{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.cart-container .cart-display .item .quantity .adjustment{
    border: 1px solid lightgray;
    display: flex;
    border-radius: 5px;
}

.cart-container .cart-display .item .quantity .adjustment div{
    padding: 10px 15px;
    cursor: pointer;
}

.cart-container .cart-display .item .quantity .adjustment div:hover{
    background-color: rgba(230, 230, 230, 0.556);
}

.cart-container .cart-display .item .quantity .adjustment #num{
    background-color: rgba(230, 230, 230, 0.556);
}

.cart-container .cart-display .item .quantity .sum{
    font-size: 20px;
    font-weight: 500;
    color: #FF008C;
}

.cart-container .cart-display .item .date{
    color: #555555;
    font-size: 14px;
    margin: -10px 0 10px 0;
}

.cart-container .cart-display .item .btns{
    display: flex;
    gap: 10px;
}

.cart-container .cart-display .item button{
    align-items: center;
    display: flex;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.cart-container .cart-display .item .btns svg{
    margin-right: 10px;
}

.cart-container .cart-display .item .btns #cart{
    background-color: #FF008C;
    color: white;
}

.cart-container .cart-display .item .btns #cart:hover{
    background-color: #c4026c;
}

.cart-container .cart-display .item .btns #wish{
    background-color: white;
    border: 1px solid lightgray;
}

.cart-container .cart-display .item .btns #wish:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFE6F2;
}

.cart-container .cart-display #products-flex{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cart-container .cart-display #products-flex::-webkit-scrollbar{
    display: none;
}

.cart-container .cart-display #products-flex #name{
    font-family: 'outfit', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.cart-container .cart-display #products-flex #price{
    color: #FF008C;
}

.cart-container .cart-display #products-flex button{
    border: 1px solid lightgray;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    color: #555555;
    font-size: 14px;
    padding: 0 40px;
}

.cart-container .cart-display #products-flex button:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFE6F2;
    filter: brightness(100%);
}

.cart-container .order-summary{
    width: 35%;
    height: fit-content;
    border: lightgray 1px solid;
    box-shadow: 0 0 2px lightgray;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.cart-container .order-summary:hover{
    box-shadow: 0 6px 15px -2px lightgray;
    transform: translateY(-2px);
}

.cart-container .order-summary .head{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cart-container .order-summary .subtotal, .cart-container .order-summary .shipping, .cart-container .order-summary .total{
    display: flex;
    white-space: nowrap;
    margin-bottom: 10px;
    align-items: center;
}

.cart-container .order-summary .subtotal .txt, .cart-container .order-summary .shipping .txt{
    color: #555555;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-container .order-summary .shipping{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.cart-container .order-summary .shipping .fee{
    color: #16A34A;
}

.cart-container .order-summary .total{
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-container .order-summary .total .head{
    width: 100%;
    font-size: 20px;
}

.cart-container .order-summary .total .amount{
    color: #FF008C;
    font-size: 20px;
}

.cart-container .order-summary .tip{
    background-color:  #f0fdf4;
    border: 1px solid #bbf7d0;
    color: #16A34A;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.cart-container .order-summary button{
    border: none;
    width: 100%;
    color: white;
    background-color: #FF008C;
    transition: 0.3s ease-in-out;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.cart-container .order-summary button:hover{
    background-color: #c4026c;
}

.cart-container .order-summary .dir{
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
    margin-bottom: 20px;
}

.cart-container .order-summary #a{
    color: #555555;
    transition: 0.3s ease-in-out;
}

.cart-container .order-summary #a:hover{
    color: #FF008C;
}

.cart-container .order-summary .strategy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 12px;
    color: #555555;
}

.cart-container .order-summary .strategy div{
    transition: 0.3s ease-in-out;
}

.cart-container .order-summary .strategy svg{
    color: #FF008C;
    transition: 0.3s ease-in-out;
}

.cart-container .order-summary .secure:hover, .cart-container .order-summary .fast:hover{
    transform: translateY(-2px);
    color: #FF008C;
}

.cart-container .order-summary .secure:hover svg, .cart-container .order-summary .fast:hover svg{
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    .cart-container *,
    .cart-container *::before,
    .cart-container *::after {
        transition: none !important;
        animation: none !important;
        transform: none !important;
    }
}


/* FOR MOBILE */

@media screen and (max-width: 480px) {

    .cart-container .empty-cart .top-display{
        height: 300px;
    }

    .cart-container .empty-cart .overlay :first-child{
        font-size: 35px;
    }

    .cart-container .empty-cart .overlay .txt {
        max-width: 400px;
        font-size: 16px;
    }

    .cart-container .gist .txt{
        width: fit-content;
    }

    .cart-container .gist .btn{
        padding: 10px 20px;
    }

    .cart-container .gist .btn:hover{
        background-color: #c4026c;
        transform: scale(1.05);
    }

    /* CART */
    .cart-container .cart .top-display{
        height: 300px;
    }

    .cart-container .cart .overlay :first-child{
        font-size: 35px;
        margin-bottom: 10px;
    }

    .cart-container .cart .overlay .txt {
        max-width: 750px;
        font-size: 16px;
    }

    .cart-container .cart-display{
        padding: 50px 15px 0px 15px;
        display: block;
    }

    .cart-container .cart-summary{
        width: 100%;
    }

    .cart-container .cart-summary .cart-section{
        margin-bottom: 30px;
    }

    .cart-container .cart-display .header{
        padding: 10px;
    }

    .cart-container .header .head{
        font-size: 22px;
        font-weight: 500;
    }

    .cart-container .cart-display .item{
        padding: 10px;
        gap: 10px;
    }

    .cart-container .cart-display .item:hover{
        box-shadow: 0 0 0 0;
        transform: translateY(0);
    }

    .cart-container .cart-display .item .name-cmds{
        align-items: baseline;
    }
    
    .cart-container .cart-display .item .name{
        font-size: 20px;
        width: 200px;
        
    }
    
    .cart-container .cart-display .item .cmds, .cart-container .cart-display .item .sum{
        padding-right: 0;
    }

    .cart-container .cart-display .item .cmds svg{
        margin-left: 0;
    }

    .cart-container .cart-display .item .quantity .sum{
        margin-right: 10px;
    }

    .cart-container .cart-display .item .btns{
        gap: 5px;
    }

    .cart-container .cart-display .item button{
        padding: 10px;
    }

    .cart-container .cart-display .item .btns svg{
        margin-right: 5px;
    }

    .cart-container .cart-display #products-flex{
        padding: 0;
    }

    .cart-container .order-summary{
        width: auto;
    }
}