.checkout-container .top-display{
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/pay-card.jpg);
    background-size: cover;
}

.checkout-container .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.checkout-container .top-display .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.checkout-container .top-display .overlay :first-child{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-container .top-display .overlay .txt {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 19px;
}

.checkout-container .grid{
    padding: 80px 150px;
    display: flex;
    gap: 50px;
    /* background-color: #FFF5FA; */
    background-color: #FFFAFC;
    margin-bottom: 50px;
}

.checkout-container .order-summary{
    box-shadow: 0 0 5px lightgray;
    padding: 25px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.checkout-container .order-summary .head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

.checkout-container .order-summary .head svg{
    color: #FF008C;
    background-color: #FFE6F2;
    padding: 10px;
    border-radius: 50%;
}

.checkout-container .order-summary .flex{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.checkout-container .order-summary .img{
    width: 100px;
    height: 80px;
}

.checkout-container .order-summary .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.checkout-container .order-summary .details{
    color: #555555;
    font-size: 14px;
}

.checkout-container .order-summary .name{
    color: black;
    font-weight: 500;
}

.checkout-container .order-summary .brand, .checkout-container .order-summary .quantity{
    font-size: 12px;
    margin-top: 5px;
}

.checkout-container .order-summary .price{
    color: #FF008C;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
}

.checkout-container .order-summary .calc{
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.checkout-container .order-summary .sub{
    display: flex;
    padding-bottom: 10px;
}

.checkout-container .order-summary .sub .txt{
    color: #555555;
    font-size: 16px;
    width: 100%;
}

.checkout-container .order-summary .sub .amount{
    white-space: nowrap;
    font-weight: 500;
    font-size: 17px;
    font-weight: 600;
}

.checkout-container .order-summary .shipping{
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.checkout-container .order-summary .sub .amount{
    white-space: nowrap;
    font-weight: 500;
}

.checkout-container .order-summary .total{
    width: 100%;
    display: flex;
    color: black;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
}

.checkout-container .order-summary .total .txt{
    width: 100%;
}

.checkout-container .order-summary .total .amount{
    color: #FF008C;
}

.checkout-container .personal-info{
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    padding: 30px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

.checkout-container .personal-info .head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.checkout-container .personal-info .head-2{
    margin: 30px 0 20px 0;
}

.checkout-container .personal-info .head svg{
    color: #FF008C;
    background-color: #FFF5FA;
    padding: 10px;
    border-radius: 50%;
}

.checkout-container .personal-info .info-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 14px;
}

.checkout-container .personal-info .input{
    padding-right: 30px;
}

.checkout-container .personal-info .input :first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkout-container .personal-info input{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px 0 20px 0;
    outline: none;
}

.checkout-container .personal-info .info-details input:focus-within{
    border: 1px solid #FFC5E5;
    box-shadow: 0 0 5px #FFC5E5;
}

.checkout-container .personal-info .geo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-right: 30px;
}

.checkout-container .payment-method label{
    display: flex;
    align-items: baseline;
    gap: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
}

.checkout-container .payment-method label:hover{
    border: 1px solid #FFC5E5;
}

.checkout-container .payment-method input{
    width: auto;
}

.checkout-container .personal-info .note{
    padding-right: 30px;
    margin: 30px 0 50px 0;
}

.checkout-container .personal-info .note textarea{
    margin: 10px 0 20px 0;
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    outline: none;
}

.checkout-container .personal-info .note textarea::placeholder{
    font-family: 'outfit', sans-serif;
    font-size: 16px;
}

.checkout-container .personal-info .note textarea:focus-within, .checkout-container .personal-info input:focus-within{
    box-shadow: 0 0 5px #FFC5E5;
    border: 1px solid #FFC5E5;
}

.checkout-container .personal-info .btns{
    width: 100;
    justify-content: right;
    display: flex;
    gap: 20px;
}

.checkout-container .personal-info .btns div{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.checkout-container .personal-info .btns div:hover{
    background-color: #fafafa;
}

.checkout-container .personal-info .btns button{
    background: linear-gradient(to right, #FF008C, #FF66B3);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.checkout-container .personal-info .btns button:hover{
    background: linear-gradient(to right, #c4026c, #FF008C);
    transform: scale(1.03);
}