.header-container .notification{
    position: relative;
    background-color: red;
    z-index: 99999;
}

.header-container .notification div{
    position: fixed;
    right: 0;
    margin: 10px;
    padding: 10px 20px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    animation: notice 0.3s ease-in-out;
    display: block;
}

@keyframes notice {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(0.6);
    }
    40% {
        transform: scale(0.7);
    }
    60% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}

.header-container .notification .added{
    background-color:  #f0fdf4;
    border: 1px solid #bbf7d0;
    color: #16A34A;
}

.header-container .notification .removed{
    background-color:  #FFF5FA;
    border: 1px solid #FFC5E5;
    color: #FF008C;
}

.header-header{
    background-color: rgba(255, 255, 255, 0.941);
    display: flex;
    position: fixed;
    top: -1px;
    right: 0;
    left: 0;
    padding: 20px 35px;
    border-bottom: 1px solid  #FFC0C0;
    z-index: 999;
}

.header-logo-app-name {
    display: flex;
    color: #FF008C;
    width: 40%;
    white-space: nowrap;
}

.header-logo {
    height: fit-content;
    padding: 8px;
    background-color: #FF008C;
    color: white;
    border-radius: 5px;
    margin: 0 10px 0 0;
}

.header-app-name :first-child {
    font-size: 20px;
    font-weight: bold;
}

.header-app-name :nth-child(2){
    font-size: 13px;
}

.header-nav-links {
    width: 60%;
    margin: 20px 0 0 0;
    position: relative;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.header-nav-links span {
    margin-left: 20px;
    font-size: 16px;
    color: black;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    padding-bottom: 5px;
}

.header-nav-links span:hover {
    color: #FF008C;
    border-bottom: 2px solid #FF008C;
}

#ourshop-1, #services-2, #booking-3, #contact-4, #about-5{
    border-bottom: 2px solid #FF008C;
    color: #FF008C;
}

.header-search-cart-wishlist {
    display: flex;
    width: 50%;
}

.header-search-input {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    background-color: white;
}

.header-search-input:focus-within{
    box-shadow: 0 0 2px #FF008C;
}

.header-search-input input {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
}

.header-search-input ::placeholder {
    font-size: 14px;
    color: gray;
}

.header-search-input svg {
    color: gray;
    margin: 5px 0 0 0;
}

.header-cart,
.header-wishlist {
    display: flex;
    cursor: pointer;
}

.header-cart svg,
.header-wishlist svg, .header-menu svg {
    border: 1px solid lightgray;
    padding: 12.5px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: black;
    transition: 0.3s ease-in-out;
}

.header-cart svg:hover,
.header-wishlist svg:hover {
    color: #FF008C;
    border: 1px solid #FF008C;
}

.header-cart-count,
.header-wishlist-count {
    background-color:  #FF008C;
    margin: -10px 0 0 40px;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
}


/* FOR MOBILE */

@media screen and (max-width: 480px) {

    .header-header{
        padding: 20px 15px 10px 15px;
    }

    .header-logo-app-name{
        width: 100%;
    }

    .header-nav-links{
        display: none;
    }

    .header-search-cart-wishlist{
        display: flex;
        width: auto;
    }

    .header-search-input{
        display: none;
    }

    .header-menu{
        display: block;
    }
    
    .header-menu svg{
        color: black;
    }
}


/* FOR MOBILE */

@media screen and (min-width: 481px) and (max-width: 900px) {

    .header-header{
        padding: 20px 15px 10px 15px;
    }

    .header-logo-app-name{
        width: 100%;
    }

    .header-nav-links{
        display: none;
    }

    .header-search-cart-wishlist{
        display: flex;
        width: auto;
    }

    .header-search-input{
        display: none;
    }

    .header-menu{
        display: block;
    }
    
    .header-menu svg{
        color: black;
    }
}