svg{
    cursor: pointer;
}

.landingpage{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landingpage video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.landingpage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.header-cover, .homepage-header {
    animation: blinkAnimation 0.5s ease-in-out forwards;
    z-index: 999;
    position: fixed;
}

@keyframes blinkAnimation {
    0%, 100% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}


.homepage-header{
    display: flex;
    padding: 15px 35px;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}

.homepage-logo-app-name{
    width: 40%;
}

.trans-logo-app-name{
    width: fit-content;
    display: flex;
    color:  #FF008C;
    white-space: nowrap;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
}

.trans-logo-app-name:hover{
    transform: scale(1.03);
}

.logo{
    height: fit-content;
    padding: 8px;
    background-color:  #FF008C;
    color: white;
    border-radius: 5px;
    margin: 0 10px 0 0;
}

.app-name :first-child{
    font-size: 20px;
    font-weight: bold;
}

.app-name :nth-child(2){
    font-size: 13px;
}

.homepage-nav-links{
    width: 60%;
    margin: 20px 0 0 0;
    position: relative;
    line-height: 1;
    align-items: center;
    justify-content: center;
}
.homepage-nav-links span{
    margin-left: 20px;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
}

.homepage-nav-links span:hover{
    color:  #FF008C;
}

.homepage-search-cart-wishlist{
    display: flex;
    width: 50%;
}

.homepage-search-input{
    display: flex;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.17);
}

.homepage-search-input input{
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
}

.homepage-search-input ::placeholder{
    font-size: 14px;
    color: lightgray;
}

.homepage-search-input svg{
    color: lightgray;
    margin: 5px 0 0 0;
}

.homepage-cart, .homepage-wishlist{
    display: flex;
    cursor: pointer;
}

.homepage-cart svg, .homepage-wishlist svg{
    border: 1px solid lightgray;
    padding: 12.5px;
    margin: 0 0 0 10px;
    color: white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.17);
}

.homepage-cart-count, .homepage-wishlist-count{
    background-color:  #FF008C;
    margin: -10px 0 0 40px;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
}

.landingpage-contents{
    margin-left: 35px;
    width: 75%;
    position: relative;
    z-index: 1;
    color: white;
    top: 55%;
    transform: translateY(-50%);
}

.slogan{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.brand-info{
    font-size: 20px;
    margin-bottom: 30px;
    width: 60%;
}

.landingpage-btns button{
    margin-right: 10px;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    /* font-weight: bold; */
}

.landingpage-btns :first-child{
    background-color:  #FF008C;
}

.landingpage-btns :nth-child(2) {
    background: transparent;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

.landingpage-btns :nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white; 
    transition: left 0.4s ease;
    z-index: -1;
}

.landingpage-btns :nth-child(2):hover::before {
    left: 0;
}

.landingpage-btns :nth-child(2):hover {
    color:  #FF008C;
}

.landingpage-btns :first-child {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

.landingpage-btns :first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:  #c4026c; 
    transition: left 0.4s ease;
    z-index: -1;
}

.landingpage-btns :first-child:hover::before {
    left: 0;
}

.book-beauty-consultation{
    display: flex;
    border-bottom: 1px solid  #FF66B3;
    padding: 40px 35px;
    background-color: #FFE6F2;
}

.book-beauty-consultation :first-child{
    display: flex;
}

.book-icon{
    position: relative;
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-color: #FF66B3;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.head-txt{
    position: relative;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.book-beauty-consultation .head{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-beauty-consultation .appointment{
    position: relative;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-right: 10px;
    font-size: px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: #FF008C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.book-beauty-consultation .appointment:hover{
    background-color: #c4026c;
}

.featured-products-container{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.127), rgba(230, 230, 230, 0.164));
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.section-info{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.section-info .head{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 50px  0 10px 0;
}

.section-info .txt{
    font-size: 18px;
    color: gray;
    width: 550px;
    margin-bottom: 50px;
}

/* PRODUCTS STYLES */

.products-flex{
    display: flex;
    margin: 50px 35px;
    overflow-x: auto;
    scroll-padding-left: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    padding: 10px;
}

.products-flex .image{
    overflow: hidden;
    height: 220px;
    position: relative;
}

.products-flex img{
    border-radius: 5px 5px 0 0 ;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.products-flex .product{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 gray;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border: 1px solid lightgray;
}

.products-flex .product:hover{
    border: 1px solid #FF66B3;
    border-radius: 0;
    overflow: hidden;
    transform: translateY(-5px);
}

.products-flex .product:hover img{
    border-radius: 0;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(70%);
}

.products-flex .product:hover .image{
    overflow: hidden;
}

.products-flex span{
    color: white;
    background-color: #FF008C;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    margin: 10px;                                                                                                                       
    z-index: 10;
}

.products-flex .product:hover span{
    filter: brightness(70%);
}

.products-flex .details{
    margin: 10px 20px;
    transition: transform 0.3s ease-in-out;
}

.products-flex .details div{
    margin-bottom: 10px;
}

.products-flex .type{
    color: #FF008C;
}

.products-flex .name{
    font-size: 20px;
    font-weight: bold;
}

.products-flex .price{
    font-size: 20px;
    font-weight: bold;
}

.products-flex .btns{
    display: flex;
}

.products-flex .btns button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF008C;
    padding: 5px 40px;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.products-flex button:hover, .view-all-btn button:hover {
    background-color: #c4026c;
    position: relative;
    z-index: 10;
    transform: scale(1.03);
}

.products-flex .btns svg{
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0 0 0 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.17);
    transition: 0.5s ease-in-out;
}

.products-flex .btns svg:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFE6F2;
}

.view-all-btn{
    text-align: center;
    margin: 50px 35px;
}

.view-all-btn button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF008C;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    transition: transform 0.3s ease-in-out;
}

.collection-flex{
    display: flex;
    margin: 70px 35px 50px 35px;
    gap: 30px;
    position: relative;
}

.collection-flex .collection::after {
    content: "";
    position: absolute;
    color: #FF66B3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.136) 40%, rgba(0, 0, 0, 0.792) 100%);
}

.collection-flex .collection{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    height: 250px;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}

.collection-flex .collection:hover{
    border: 1px solid #FF66B3;
    transform: translateY(-10px);
}

.collection-flex img{
    border-radius: 5px;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
}

.collection-flex .collection:hover img{
    transform: scale(1.2);
}

.collection-flex .path{
    position: absolute;
    top: 0;
    left: 280px;
    color: white;
    border-radius: 50%;
    border: 0.5px white solid;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 10px;
    margin: 10px 0 0 0;
    transform: translateX(60px);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.collection-flex .path:hover{
    background-color: rgba(255, 255, 255, 0.441);
}

.collection-flex .collection:hover .path{
    transform: translateX(0);
}

.collection-flex .txt-overlay{
    position: absolute;
    bottom: 15px;
    padding: 0 20px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.collection-flex .collection:hover .txt-overlay{
    transform: translateY(-10px);
}

.collection-flex .name{
    color: lightgray;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 0.5s ease-in-out;
}

.collection-flex .collection:hover .name{
    color: #FF008C;
}

.collection-flex .txt{
    width: 330px;
    font-size: 14px;
    color: lightgray;
}

.sale-section{
    position: relative;
    margin: 50px 0px;
    overflow: hidden;
    height: 380px;
}

.sale-section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.327));
    z-index: 1;
}

.sale-section img{
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 380px;
    transition: 0.5s ease-in-out;
}

.sale-section:hover img{
    transform: scale(1.05);
}

.sale-section .txt-overlay{
    z-index: 10;
    position: absolute;
    bottom: 0px;
    color: white;
    margin: 100px 100px 70px 100px;
}

.sale-section .percent-off{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    border: 1px solid #FF008C;
    color: #FF008C;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    font-style: italic;
    transform: translateX(70px);
    transition: 0.5s ease-in-out;
}

.sale-section:hover .percent-off{
    transform: translateX(0);
}

.sale-section .percent-off .num{
    font-style: normal;
    font-size: 25px;
}

.sale-section .limited-time{
    display: flex;
    margin: 10px 0;
}

.sale-section .txt{
    background-color: #FF008C;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.sale-section .count-down{
    display: flex;
    font-family: 'Caveat';
    font-weight: bold;

}

.sale-section .count-down #num{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(78, 78, 78);
    padding: 8px 12px;
    margin: 0 5px;
}

.sale-section .count-down #colon{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.sale-section .mega-txt{
    font-weight: bold;
    font-size: 35px;
    margin: 10px 0;
}

.sale-section .discount-info{
    margin: 10px 0 20px 0;
    color: #FFC5E5;
}

.sale-section .discount-types{
    margin: 20px 0;
}

.sale-section .discount-types span{
    margin: 0 10px 0 0;
    background-color: rgba(255, 255, 255, 0.236);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
}

.sale-section .shop-now-btn{
    cursor: pointer;
    position: relative;
    display: flex;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #FF008C;
    width: fit-content;
    transition: 0.5s ease-in-out;
    z-index: 10;
}

.sale-section .shop-now-btn:hover{
    background-color: #c4026c;
    transform: scale(1.1);
}