.shop-container .top-display{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/makeup-brush-decorative-cosmetics-red-background-with-empty-space-top-view_250469-11169.jpg);
}

.shop-container .top-display::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.shop-container .overlay{
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 10%;
}

.shop-container .overlay :first-child{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-container .overlay .txt {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 18px;
}

.shop-container .filters{
    display: flex;
    background-color: #FFC5E5;
    padding: 40px 35px;
}

.shop-container .search-container{
    width: 100%;
}

.shop-container .search{
    display: flex;
    border: 1px solid #FF66B3;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.shop-container .search:focus-within{
    box-shadow: 0 0 5px #FF66B3;
}

.shop-container .search input{
    border: none;
    outline: none;
    width: 400px;
    background-color: transparent;
}

.shop-container .search svg{
    color: #FF66B3;
}

.shop-container .customize{
    display: flex;
    align-items: center;
    gap: 20px;
}

.shop-container .customize .select{
    position: relative;
}

.shop-container .customize .select .default{
    background-color: white;
    border: 1px solid #FF66B3;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    position: relative;
    display: flex;
    align-items: center;
}

.shop-container .customize .select .default:focus-within{
    box-shadow: 0 0 5px #FF66B3;
}

.shop-container .customize .select .default svg{
    position: absolute;
    right: 5px;
    color: #555555;
}

.shop-container .customize .options{
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 5px;
    z-index: 999;
    border: 1px solid lightgray;
    transition: 0.5s ease-in-out;
}

.shop-container .customize .options button{
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
    width: 169px;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.shop-container .customize .options button:hover{
    background-color: #FFC5E5;
}

.shop-container .customize .options  svg{
    position: absolute;
    right: 10px;
    color: #555555;
    opacity: 0;
}

.shop-container .customize #first-option-1,
.shop-container .customize #second-option-2,
.shop-container .customize #third-option-3,
.shop-container .customize #fourth-option-4,
.shop-container .customize #fifth-option-5 {
    background-color: #FFC5E5;
}

.shop-container .customize #first-option-1 svg,
.shop-container .customize #second-option-2 svg,
.shop-container .customize #third-option-3 svg,
.shop-container .customize #fourth-option-4 svg,
.shop-container .customize #fifth-option-5 svg {
    opacity: 1;
}


.shop-container .customize .grid{
    display: flex;
    border: 1px solid #FF66B3;
    border-radius: 5px;
}

.shop-container .customize .grid button{
    display: flex;
    align-items: center;
    border: none;    
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.shop-container .customize .grid svg, .shop-container .customize .list svg{
    margin-right: 5px;
}

.shop-container .customize .list{
    display: flex;
    border: 1px solid #FF66B3;
    border-radius: 5px;
}

.shop-container .customize .list button{
    display: flex;
    align-items: center;
    border: none;    
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.shop-container .customize .grid .grid-btn{
    border-radius: 5px 0 0 5px;
    background-color: #FF66B3;
}

.shop-container .customize .grid .list-btn{
    border-radius: 0 5px 5px 0;
}

.shop-container .customize .list .grid-btn{
    border-radius: 5px 0 0 5px;
}

.shop-container .customize .list .list-btn{
    border-radius: 0 5px 5px 0;
    background-color: #FF66B3;
}

/* SORTING */

.shop-container .sort{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px 0;
    margin: 0 35px;
}

.shop-container .sort .txt{
    color: #c4026c;
    margin-bottom: 5px;
}

.shop-container .sort .select{
    position: relative;
}

.shop-container .sort .select .default{
    background-color: white;
    border: 1px solid #FF66B3;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    position: relative;
    display: flex;
    align-items: center;
}

.shop-container .sort .select .default:focus-within{
    box-shadow: 0 0 5px #FF66B3;
}

.shop-container .sort .select .default svg{
    position: absolute;
    right: 5px;
    color: #555555;
}

.shop-container .sort .options{
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 5px;
    z-index: 999;
    border: 1px solid lightgray;
    transition: 0.5s ease-in-out;
}

.shop-container .sort .options button{
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
    width: 168px;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.shop-container .sort .options button:hover{
    background-color: #FFC5E5;
}

.shop-container .sort .options  svg{
    position: absolute;
    right: 10px;
    color: #555555;
    opacity: 0;
}

.shop-container .sort #first-category-option-1,
.shop-container .sort #second-category-option-2,
.shop-container .sort #third-category-option-3,
.shop-container .sort #fourth-category-option-4,
.shop-container .sort #fifth-category-option-5,
.shop-container .sort #sixth-category-option-6,
.shop-container .sort #seventh-category-option-7,
.shop-container .sort #eighth-category-option-8,
.shop-container .sort #first-brand-option-1,
.shop-container .sort #second-brand-option-2,
.shop-container .sort #third-brand-option-3,
.shop-container .sort #fourth-brand-option-4,
.shop-container .sort #fifth-brand-option-5,
.shop-container .sort #sixth-brand-option-6,
.shop-container .sort #seventh-brand-option-7,
.shop-container .sort #first-skin-type-option-1,
.shop-container .sort #second-skin-type-option-2,
.shop-container .sort #third-skin-type-option-3,
.shop-container .sort #fourth-skin-type-option-4,
.shop-container .sort #fifth-skin-type-option-5,
.shop-container .sort #sixth-skin-type-option-6,
.shop-container .sort #seventh-skin-type-option-7,
.shop-container .sort #eighth-skin-type-option-8,
.shop-container .sort #first-price-range-option-1,
.shop-container .sort #second-price-range-option-2,
.shop-container .sort #third-price-range-option-3,
.shop-container .sort #fourth-price-range-option-4,
.shop-container .sort #fifth-price-range-option-5,
.shop-container .sort #sixth-price-range-option-6 {
    background-color: #FFC5E5;
}

.shop-container .sort #first-category-option-1 svg,
.shop-container .sort #second-category-option-2 svg,
.shop-container .sort #third-category-option-3 svg,
.shop-container .sort #fourth-category-option-4 svg,
.shop-container .sort #fifth-category-option-5 svg,
.shop-container .sort #sixth-category-option-6 svg,
.shop-container .sort #seventh-category-option-7 svg,
.shop-container .sort #eighth-category-option-8 svg,
.shop-container .sort #first-brand-option-1 svg,
.shop-container .sort #second-brand-option-2 svg,
.shop-container .sort #third-brand-option-3 svg,
.shop-container .sort #fourth-brand-option-4 svg,
.shop-container .sort #fifth-brand-option-5 svg,
.shop-container .sort #sixth-brand-option-6 svg,
.shop-container .sort #seventh-brand-option-7 svg,
.shop-container .sort #first-skin-type-option-1 svg,
.shop-container .sort #second-skin-type-option-2 svg,
.shop-container .sort #third-skin-type-option-3 svg,
.shop-container .sort #fourth-skin-type-option-4 svg,
.shop-container .sort #fifth-skin-type-option-5 svg,
.shop-container .sort #sixth-skin-type-option-6 svg,
.shop-container .sort #seventh-skin-type-option-7 svg,
.shop-container .sort #eighth-skin-type-option-8 svg,
.shop-container .sort #first-price-range-option-1 svg,
.shop-container .sort #second-price-range-option-2 svg,
.shop-container .sort #third-price-range-option-3 svg,
.shop-container .sort #fourth-price-range-option-4 svg,
.shop-container .sort #fifth-price-range-option-5 svg,
.shop-container .sort #sixth-price-range-option-6 svg {
    opacity: 1;
}



/* ALL PRODUCTS */

#list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px 35px;
    background-color: #FFC5E5;
    margin-bottom: 50px;
}

#list .product{
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    transition:  0.3s ease-in-out;
}

#list .product .image{
    height: 250px;
    width: 300px;
    overflow: hidden;
}

#list .product img{
    height: 100%;
    width: 100%;
    border-radius: 5px  0 0 5px;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
}
#list .product:hover{
    border: 1px solid #FF66B3;
    overflow: hidden;
    box-shadow: 0 5px 10px lightgray;
}

#list .product:hover img{
    border-radius: 0;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(70%);
}

#list .product:hover .image{
    overflow: hidden;
}

#list .product span{
    color: white;
    background-color: #FF008C;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    margin: 10px;
    z-index: 10;
}

#list .details{
    width: 100%;
    margin: 20px;
    position: relative;
}

#list .details div{
    margin-bottom: 10px;
}

#list .type{
    color: #FF008C;
}

#list .name{
    font-size: 20px;
    /* font-weight: bold; */
    transition: 0.3s ease-in-out;
}

#list .description{
    font-size: 14px;
    display: block;
}

#list .product:hover .name{
    color: #FF008C;
}

#list .price{
    font-size: 20px;
    font-weight: bold;
}

#list .btns{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#list .btns button{
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF008C;
    padding: 5px 0px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

#list button:hover, .view-all-btn button:hover {
    background-color: #c4026c;
    position: relative;
    z-index: 1;
    transform: scale(1.05);
}

#list .btns svg{
    border: 1px solid lightgray;
    padding: 10px 13px;
    margin: 0 0 0 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.17);
    transition: 0.5s ease-in-out;
}

#list .btns svg:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFC5E5;
}

#grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 50px 35px;
    background-color: #FFC5E5;
    margin-bottom: 50px;
}

#grid .image{
    overflow: hidden;
    height: 200px;
}

#grid img{
    border-radius: 5px 5px 0 0 ;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

#grid .product{
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 gray;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

#grid .product:hover{
    border: 1px solid #FF66B3;
    overflow: hidden;
    transform: translateY(-5px);
}

#grid .product:hover img{
    border-radius: 0;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(70%);
}

#grid .product:hover .image{
    overflow: hidden;
}

#grid .product:hover span{
    filter: brightness(70%);
}

#grid span{
    color: white;
    background-color: #FF008C;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    margin: 10px;
    z-index: 10;
}

#grid .details{
    margin: 10px 20px;
    transition: 0.3s ease-in-out;
}

#grid .details div{
    margin-bottom: 10px;
}

#grid .type{
    color: #FF008C;
}

#grid .name{
    font-size: 20px;
    font-weight: bold;
}

#grid .description{
    display: none;
}

#grid .price{
    font-size: 20px;
    font-weight: bold;
}

#grid .btns{
    display: flex;
}

#grid .btns button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF008C;
    padding: 5px 25px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

#grid button:hover, .view-all-btn button:hover {
    background-color: #c4026c;
    position: relative;
    z-index: 1;
    transform: scale(1.05);
}

#grid .btns svg{
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0 0 0 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.17);
    transition: 0.5s ease-in-out;
}

#grid .btns svg:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFC5E5;
}