.viewservice{
    margin-bottom: 50px;
}

.viewservice .the-service{
    position: relative;
    width: 100%;
    height: 550px;
}

.viewservice .the-service img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.viewservice .the-service .contents{
    position: absolute;
    top: 30%;
    margin: 0 35px;
    z-index: 10;
}

.viewservice .the-service .time-price{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.viewservice .the-service .time{
    background-color: #FF008C;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}

.viewservice .the-service .price{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}

.viewservice .the-service .name{
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.viewservice .the-service .description{
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.viewservice .the-service button{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 30px;
    margin-right: 20px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    color: white;
}

.viewservice .the-service .btns :first-child{
    background-color: #FF008C;
    border: 2px solid #FF008C;
}

.viewservice .the-service .btns :first-child:hover{
    background-color: #c4026c;
    border: 2px solid #c4026c;
    transform: scale(1.02);
}

.viewservice .the-service .btns :nth-child(2){
    background-color: transparent;
    border: 2px solid white;
}

.viewservice .the-service .btns :nth-child(2):hover{
    background-color: white;
    color: #FF008C;
    transform: scale(1.02);
}

.viewservice  .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 25px;
    gap: 65px;
}

.viewservice  .about .included{
    background-color: #FFF5FA;
    padding: 30px;
    border-radius: 20px;
}

.viewservice  .about .included .head{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.viewservice .included .head svg{
    color: #FF008C;
    background-color: #FFE6F2;
    padding: 15px;
    border-radius: 50%;
}

.viewservice .included .list div{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #555555;
    margin-top: 20px;
    gap: 15px;
}

.viewservice .included .list svg{
    color: white;
    background-color: #FF008C;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.viewservice .included .list div:hover svg{
    transform: scale(1.05);
}

.viewservice  .about .benefits{
    background-color: #F0FDFA;
    padding: 30px;
    border-radius: 20px;
}

.viewservice  .about .benefits .head{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.viewservice .benefits .head svg{
    color: #14b8a6;
    background-color: #CCFBF1;
    padding: 15px;
    border-radius: 50%;
}

.viewservice .benefits .list div{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #555555;
    margin-top: 25px;
    gap: 15px;
}

.viewservice .benefits .list svg{
    color: white;
    background-color: #14b8a6;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.viewservice .benefits .list div:hover svg{
    transform: scale(1.05);
}

.viewservice .suggestion{
    background-color: #FF008C;
    color: white;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 50px;
}

.viewservice .suggestion .head{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.viewservice .suggestion .txt{
    font-size: 19px;
    margin: 20px 0;
}

.viewservice .suggestion .btns{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.viewservice .suggestion button{
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    border: 2px solid white;
    font-weight: 500;
}

.viewservice .suggestion .btns :first-child{
    color: #FF008C;
    background-color: white;
}

.viewservice .suggestion .btns :first-child:hover{
    transform: scale(1.02);
    filter: brightness(90%);
}

.viewservice .suggestion .btns :nth-child(2){
    background-color: #FF008C;
    color: white;
}

.viewservice .suggestion .btns :nth-child(2):hover{
    background-color: white;
    color: #FF008C;
    transform: scale(1.02);
}

/* FOR MOBILE */

@media screen and (max-width: 480px) {
    .viewservice{
        margin-bottom: 50px;
    }

    .viewservice .the-service{
        height: 450px;
    }

    .viewservice .the-service .contents{
        top: 25%;
        margin: 0 15px;
    }

    .viewservice .the-service .time-price{
        gap: 10px;
        margin-bottom: 10px;
    }

    .viewservice .the-service .name{
        font-size: 35px;
        margin-bottom: 10px;
    }

    .viewservice .the-service .description{
        font-size: 18px;
        margin-bottom: 40px;
    }

    .viewservice .the-service button{
        width: 100%;
        padding: 15px 30px;
        margin-right: 0;
        border-radius: 10px;
    }

    .viewservice .the-service .btns :first-child:hover{
        transform: scale(1);
    }

    .viewservice .the-service .btns :nth-child(2){
        margin-top: 10px;
    }

    .viewservice .the-service .btns :nth-child(2):hover{
        transform: scale(1);
    }

    .viewservice  .about{
        grid-template-columns: 1fr;
        margin: 50px 15px;
        gap: 30px;
    }

    .viewservice  .about .included{
        padding: 20px;
    }

    .viewservice  .about .included .head{
        gap: 10px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .viewservice .included .list div{
        font-size: 18px;
        gap: 10px;
    }

    .viewservice .included .list div:hover svg{
        transform: scale(1);
    }

    .viewservice  .about .benefits{
        padding: 20px;
    }

    .viewservice  .about .benefits .head{
        gap: 10px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .viewservice .benefits .list div{
        font-size: 18px;
        gap: 10px;
    }

    .viewservice .benefits .list div:hover svg{
        transform: scale(1);
    }

    .viewservice .suggestion{
        padding: 30px 0;
        margin-bottom: 50px;
    }

    .viewservice .suggestion .head{
        font-size: 30px;
    }

    .viewservice .suggestion .txt{
        font-size: 18px;
        margin: 0 0 20px 0;
    }

    .viewservice .suggestion .btns{
        gap: 10px;
    }

    .viewservice .suggestion button{
        padding: 15px 20px;
        font-size: 16px;
    }

    .viewservice .suggestion .btns :first-child{
        width: auto;
    }

    .viewservice .suggestion .btns :first-child:hover{
        transform: scale(1);
    }

    .viewservice .suggestion .btns :nth-child(2){
        width: auto;
    }

    .viewservice .suggestion .btns :nth-child(2):hover{
        transform: scale(1);
    }
}

/* FOR TABLET */

@media screen and (min-width: 481px) and (max-width: 900px) {
    
    .viewservice{
        margin-bottom: 50px;
    }

    .viewservice .the-service{
        height: 500px;
    }

    .viewservice .the-service .contents{
        top: 35%;
        margin: 0 15px;
    }


    .viewservice .the-service .name{
        font-size: 45px;
        margin-bottom: 10px;
    }

    .viewservice .the-service .btns :first-child:hover{
        transform: scale(1);
    }

    .viewservice .the-service .btns :nth-child(2){
        margin-top: 10px;
    }

    .viewservice .the-service .btns :nth-child(2):hover{
        transform: scale(1);
    }

    .viewservice  .about{
        margin: 50px 15px;
        gap: 30px;
    }

    .viewservice  .about .included{
        padding: 20px;
    }

    .viewservice  .about .included .head{
        gap: 10px;
        font-size: 25px;
        font-weight: 600;
    }

    .viewservice .included .list div{
        font-size: 18px;
        gap: 10px;
    }

    .viewservice .included .list div:hover svg{
        transform: scale(1);
    }

    .viewservice  .about .benefits{
        padding: 20px;
    }

    .viewservice  .about .benefits .head{
        gap: 10px;
        font-size: 25px;
        font-weight: 600;
    }

    .viewservice .benefits .list div{
        font-size: 18px;
        gap: 10px;
    }

    .viewservice .benefits .list div:hover svg{
        transform: scale(1);
    }

    .viewservice .suggestion{
        padding: 40px 0;
        margin-bottom: 50px;
    }

    .viewservice .suggestion .head{
        font-size: 35px;
    }

    .viewservice .suggestion .txt{
        font-size: 18px;
        margin: 0 0 20px 0;
    }

    .viewservice .suggestion .btns :first-child:hover{
        transform: scale(1);
    }

    .viewservice .suggestion .btns :nth-child(2):hover{
        transform: scale(1);
    }
}