.viewproduct{
    padding: 0 35px;
    margin-bottom: 50px;
}

.viewproduct .header{
    padding: 100px 0 30px 0;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.viewproduct .header :first-child, .viewproduct .header :nth-child(2){
    color: #555555;
    cursor: pointer;
}

.viewproduct .header span{
    margin: 0 5px;
}

.viewproduct .overview{
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.viewproduct .overview .pics{
    width: 50%;
}

.viewproduct .overview .pics .main{
    height: 650px;
    margin-bottom: 20px;
    position: relative;
}

.viewproduct .overview .pics .main img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.viewproduct .overview .pics .main #type{
    position: absolute;
    z-index: 10;
    font-size: 14px;
    margin: 20px;
    background-color: white;
    color: #FF008C;
    padding: 5px 20px;
    border-radius: 20px;
}

.viewproduct .overview .pics .main .wishlist-icon{
    position: absolute;
    right: 0;
    z-index: 10;
    font-size: 14px;
    margin: 20px;
    background-color: white;
    color: #555555;
    padding: 10px;
    border-radius: 50%;
}

.viewproduct .overview #colored{
    color: #FF008C;
    background-color: #FFE6F2;
}

.viewproduct .overview .pics .subs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.viewproduct .overview .pics .subs img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    border: 1px solid lightgray;
}

.viewproduct .overview .info{
    width: 50%;
}

.viewproduct .overview .info .type{
    color: #FF008C;
    font-size: 14px;
    font-weight: 500;
}

.viewproduct .overview .info .name{
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
}

.viewproduct .overview .info .by{
    color: #555555;
    margin: 10px 0;
}

.viewproduct .overview .info .by span{
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.viewproduct .overview .info .ratings-reviews{
    display: flex;
    margin: 30px 0;
    gap: 5px;
    color: #555555;
}

.viewproduct .overview .info .ratings-reviews svg{
    color: #facc15;
}

.viewproduct .overview .info .price{
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
}

.viewproduct .overview .info .description{
    color: #555555;
    margin: 30px 0;
}

.viewproduct .overview .info .details{
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0;
}

.viewproduct .overview .info .details .head{
    margin: 0 0 20px 0;
}

.viewproduct .overview .info .details .sub{
    display: grid;
    gap: 50%;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    font-size: 14px;
    color: #555555;
}

.viewproduct .overview .info .details .sub span{
    margin-left: 5px;
    color: black;
    font-weight: 500;
}

.viewproduct .overview .info  button{
    width: 100%;
    margin: 10px 0;
    background-color: #FF008C;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
    z-index: 10;
}

.viewproduct .overview .info .add-btn  button:hover{
    background-color: #c4026c;
    transform: scale(1.02);
}

.viewproduct .overview .info .btns{
    display: flex;
    gap: 10px;
}

.viewproduct .overview .info .btns svg{
    margin-right: 10px;
}

.viewproduct .overview .info #wish{
    background-color: white;
    border: 1px solid lightgray;
    color: black;
}

.viewproduct .overview .info #cart{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: white;
}

.viewproduct .overview .info #wish:hover, .viewproduct .overview .info #cart:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    background-color: #FFE6F2;
    transform: scale(1.02);
}

.viewproduct .reviewboard{
    background-color: #FFF5FA;
    padding: 30px 40px;
    border-radius: 20px;
    margin-bottom: 80px;
}

.viewproduct .reviewboard #head{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.viewproduct .reviewboard #head svg{
    color: #FF008C;
}

.viewproduct .reviewboard .flex{
    display: flex;
    align-items: center;
}

.viewproduct .reviewboard .ratings{
    display: flex;
    width: 100%;
    gap: 30px;
}

.viewproduct .reviewboard .ratings .main{
    text-align: center;
}

.viewproduct .reviewboard .ratings .num{
    font-size: 50px;
    font-weight: bold;
    color: #FF008C;
}

.viewproduct .reviewboard .ratings svg{
    color: #facc15;
}

.viewproduct .reviewboard .ratings .txt{
    font-size: 14px;
    font-weight: 500;
    color: #555555;
}

.viewproduct .reviewboard .ratings .chat{
    font-size: 14px;
    color: #555555;
}

.viewproduct .reviewboard .ratings .chat div{
    margin-bottom: 5px;
}

.viewproduct .reviewboard .ratings .chat .sub{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    text-align: center;
}

.viewproduct .reviewboard .ratings .chat .sub #nth{
    width: 10px;
    text-align: center;
}

.viewproduct .reviewboard .ratings .chat .sub .lenght{
    background-color: #e5e7eb;
    width: 90px;
    height: 7px;
    border-radius: 10px;
}

.viewproduct .reviewboard .flex button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #FF008C;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.viewproduct .reviewboard .flex button:hover{
    background-color: #c4026c;
    transform: translateY(-2px);
}

.viewproduct .send-review{
    box-shadow: 0 0 2px #FF66B3;
    border-radius: 10px;
    padding: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
}

.viewproduct .send-review #head{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.viewproduct .send-review #head svg{
    color: #FF008C;
    background-color: #FFE6F2;
    padding: 12px;
    border-radius: 50%;
}



.viewproduct .msg-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input{
    padding-right: 30px;
}

.viewproduct .msg-details input{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px 0 20px 0;
    outline: none;
}

.viewproduct .msg-details input:focus-within{
    border: 1px solid #FFC5E5;
    box-shadow: 0 0 5px #FFC5E5;
}

.viewproduct .how{
    margin-bottom: 30px;
}

.viewproduct .how .head{
    margin-bottom: 10px;
}

.viewproduct .how .rate{
    color: #555555;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 20px;
}

.viewproduct .how .rate .stars{
    color: #d1d5db;
}

.viewproduct .how .rate .stars svg{
    transition: 0.2s ease-in-out;
    margin-right: 3px;
}

.viewproduct .how .rate .stars svg:hover{
    color: #facc15;
    transform: scale(1.2);
}

.viewproduct .msg{
    padding-right: 30px;
    margin-bottom: 50px;
}

.viewproduct .msg textarea{
    margin: 10px 0 0 0;
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
}

.viewproduct .msg textarea::placeholder{
    font-family: 'outfit', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.viewproduct .msg textarea:focus-within{
    box-shadow: 0 0 5px #FFC5E5;
    border: 1px solid #FFC5E5;
}

.viewproduct .msg .count{
    font-size: 12px;
    color: #555555;
    z-index: 10;
}

.viewproduct .btns{
    display: flex;
    gap: 10px;
}

.viewproduct .send-review .btns button{
    align-items: center;
    color: white;
    background-color: #FF008C;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.viewproduct .send-review .btns :first-child{
    width: 100%;
}

.viewproduct .send-review .btns :first-child:hover{
    background-color: #c4026c;
    transform: translateY(-2px);
}

.viewproduct .send-review .btns :nth-child(2){
    width: 10%;
    color: #555555;
    border: 2px solid lightgray;
    background-color: white;
}

.viewproduct .send-review .btns :nth-child(2):hover{
    border: 2px solid gray;
    background-color: #fafafa;
}

.viewproduct #may-like{
    font-size: 25px;
    font-weight: 600;
}

.viewproduct .products-flex{
    display: flex;
    margin: 20px 0 30px 0;
    overflow-x: auto;
    scroll-padding-left: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    padding: 10px;
}

.viewproduct .products-flex .image{
    overflow: hidden;
    height: 220px;
    position: relative;
}

.viewproduct .products-flex img{
    border-radius: 5px 5px 0 0 ;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.viewproduct .products-flex .product{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 gray;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border: 1px solid lightgray;
}

.viewproduct .products-flex .product:hover{
    border: 1px solid #FF66B3;
    border-radius: 0;
    overflow: hidden;
    transform: translateY(-5px);
}

.viewproduct .products-flex .product:hover img{
    border-radius: 0;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(70%);
}

.viewproduct .products-flex .product:hover .image{
    overflow: hidden;
}

.viewproduct .products-flex span{
    color: white;
    background-color: #FF008C;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    margin: 10px;                                                                                                                       
    z-index: 10;
}

.viewproduct .products-flex .product:hover span{
    filter: brightness(70%);
}

.viewproduct .products-flex .details{
    margin: 10px 20px;
    transition: transform 0.3s ease-in-out;
}

.viewproduct .products-flex .details div{
    margin-bottom: 10px;
}

.viewproduct .products-flex .type{
    color: #FF008C;
}

.viewproduct .products-flex .name{
    font-size: 20px;
    font-weight: bold;
}

.viewproduct .products-flex .price{
    font-size: 20px;
    font-weight: bold;
}

.viewproduct .products-flex .btns{
    display: flex;
}

.viewproduct .products-flex .btns button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF008C;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.viewproduct .products-flex button:hover, .view-all-btn button:hover {
    background-color: #c4026c;
    position: relative;
    z-index: 10;
    transform: scale(1.03);
}

.viewproduct .products-flex .btns svg{
    border: 1px solid lightgray;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.17);
    transition: 0.3s ease-in-out;
}

.viewproduct .products-flex .btns svg:hover{
    border: 1px solid #FF008C;
    color: #FF008C;
    stroke: #FF008C;
    background-color: #FFE6F2;
}

/* FOR MOBILE */

@media screen and (max-width: 480px) {
    .viewproduct{
        padding: 0 15px;
    }

    .viewproduct .overview{
        display: block;
        margin-bottom: 50px;
    }

    .viewproduct .overview .pics{
        width: 100%;
    }

    .viewproduct .overview .pics .main{
        height: 320px;
    }

    .viewproduct .overview .pics .subs{
        gap: 5px;
        margin-top: -10px;
    }

    .viewproduct .overview .pics .subs img{
        height: 100px;
    }

    .viewproduct .overview .info{
        width: 100%;
        margin-top: 20px;
    }

    .viewproduct .overview .info .name{
        font-size: 25px;
        margin: 10px 0;
    }

    .viewproduct .overview .info .ratings-reviews{
        margin: 10px 0;
    }

    .viewproduct .overview .info .price{
        font-size: 25px;
        margin: 10px 0;
    }

    .viewproduct .overview .info .description{
        margin: 10px 0;
    }

    .viewproduct .overview .info .details{
        margin: 20px 0;
    }

    .viewproduct .overview .info .details .sub{
        display: grid;
        gap: 20%;
    }

    .viewproduct .overview .info .add-btn  button:hover{
        transform: scale(1);
    }

    .viewproduct .overview .info #wish:hover, .viewproduct .overview .info #cart:hover{
        transform: scale(1);
    }

    .viewproduct .reviewboard{
        padding: 20px ;
        margin-bottom: 30px;
    }

    .viewproduct .reviewboard #head{
        gap: 5px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .viewproduct .reviewboard .flex{
        display: block;
    }

    .viewproduct .reviewboard .ratings{
        gap: 0px;
    }

    .viewproduct .reviewboard .ratings .main{
        text-align: left;
        width: 100%;
    }

    .viewproduct .reviewboard .flex button{
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .viewproduct .reviewboard .flex button:hover{
        transform: translateY(0);
    }

    .viewproduct .send-review{
        padding: 20px;
        margin-bottom: 30px;
    }

    .viewproduct .send-review #head{
        gap: 5px;
        font-weight: 600;
    }

    .viewproduct .msg textarea{
        height: 70px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        font-size: 16px;
    }

    .viewproduct .btns{
        gap: 5px;
    }

    .viewproduct .send-review .btns :first-child:hover{
        transform: translateY(0);
    }

    .viewproduct .send-review .btns :nth-child(2){
        width: auto;
    }

    .viewproduct .products-flex{
        margin: 10px 0 30px 0;
    }

    .viewproduct .products-flex .product:hover img{
        transform: scale(1);
        filter: brightness(100%);
    }

    .viewproduct .products-flex .btns #hide-view{
        display: none;
    }
}

/* FOR TABLET */

@media screen and (min-width: 481px) and (max-width: 900px) {
    .viewproduct{
        padding: 0 15px;
    }

    .viewproduct .overview{
        display: block;
        margin-bottom: 50px;
    }

    .viewproduct .overview .pics{
        width: 100%;
    }

    .viewproduct .overview .pics .main{
        height: 500px;
    }

    .viewproduct .overview .pics .subs img{
        height: 150px;
    }

    .viewproduct .overview .info{
        width: 100%;
        margin-top: 20px;
    }

    .viewproduct .overview .info .name{
        font-size: 30px;
        margin: 10px 0;
    }

    .viewproduct .overview .info .ratings-reviews{
        margin: 10px 0;
    }

    .viewproduct .overview .info .price{
        font-size: 30px;
        margin: 10px 0;
    }

    .viewproduct .overview .info .description{
        margin: 10px 0;
    }

    .viewproduct .overview .info .details{
        margin: 20px 0;
    }

    .viewproduct .overview .info .details .sub{
        display: grid;
        gap: 20%;
    }

    .viewproduct .overview .info .add-btn  button:hover{
        transform: scale(1);
    }

    .viewproduct .overview .info #wish:hover, .viewproduct .overview .info #cart:hover{
        transform: scale(1);
    }
    
    .viewproduct .reviewboard .flex button{
        width: 50%;
        justify-content: center;
        margin-top: 20px;
    }

    .viewproduct .reviewboard .flex button:hover{
        transform: translateY(0);
    }

    .viewproduct .send-review{
        padding: 20px;
        margin-bottom: 30px;
    }

    .viewproduct .send-review #head{
        gap: 5px;
        font-weight: 600;
    }

    .viewproduct .msg textarea{
        height: 70px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        font-size: 16px;
    }

    .viewproduct .btns{
        gap: 5px;
    }

    .viewproduct .send-review .btns :first-child:hover{
        transform: translateY(0);
    }

    .viewproduct .send-review .btns :nth-child(2){
        width: auto;
    }

    .viewproduct .products-flex{
        margin: 10px 0 30px 0;
    }

    .viewproduct .products-flex .product:hover img{
        transform: scale(1);
        filter: brightness(100%);
    }

    .viewproduct .products-flex .btns #hide-view{
        display: none;
    }
}